.main {
    text-align: center;
    height: 100vh;
    background-color: #292e43;
    overflow-y: scroll;
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.main::-webkit-scrollbar {
    display: none;
}
